@model TravelVM

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/Travel/Index.css">
    <style>
        .is-invalid {
            border-color: red;
        }

        .validation-summary-errors {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="booking-form">
            <h6>
                <a asp-controller="Home" asp-action="Index" style="text-decoration: none; color: deepskyblue;">ExpressCart</a> > @Model.CategoryName.ToUpper()
            </h6>
            <h2>Book Your Trip</h2>
            <form method="post" id="bookingForm">
                <input type="hidden" asp-for="Travel.Id" />
                <input type="hidden" asp-for="CategoryId" />

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="TripType" value="OneWay" checked onclick="document.getElementById('OneWay').value = true; toggleReturnDate(false)" />
                            <label class="form-check-label">One Way</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="TripType" value="RoundTrip" onclick="document.getElementById('OneWay').value = false; toggleReturnDate(true)" />
                            <label class="form-check-label">Round Trip</label>
                        </div>
                        <input type="hidden" id="OneWay" name="Travel.OneWay" value="true" />
                    </div>
                    <div class="form-group col-md-6 text-right">
                        <label for="MaxCountInput" class="mr-2">Show:</label>
                        <input type="number" id="MaxCountInput" asp-for="MaxCount" class="form-control d-inline-block" style="width: 80px;" min="0" value="100" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="fromInput">From:</label>
                        <input asp-for="Travel.DepLoc" type="text" id="fromInput" class="form-control" placeholder="Where From?" onkeyup="fetchAirportDetails('from')" onclick="fetchAirportDetails('from')">
                        <span asp-validation-for="Travel.DepLoc" class="text-danger"></span>
                        <select id="fromDropdown" class="form-control" onclick="fetchAirportDetails('from')">
                            <option value="" disabled selected>Select a location</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="toInput">To:</label>
                        <input asp-for="Travel.DestLoc" type="text" id="toInput" class="form-control" placeholder="Where To?" onkeyup="fetchAirportDetails('to')" onclick="fetchAirportDetails('to')">
                        <span asp-validation-for="Travel.DestLoc" class="text-danger"></span>
                        <select id="toDropdown" class="form-control" onclick="fetchAirportDetails('to')">
                            <option value="" disabled selected>Select a location</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="adultsInput">Adults:</label>
                        <input type="number" asp-for="Travel.Adults" class="form-control" id="adultsInput" name="Travel.Adults" min="1" value="1" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="childrenInput">Children:</label>
                        <input type="number" asp-for="Travel.Childerns" class="form-control" id="childrenInput" name="Travel.Childerns" min="0" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="startDateInput">Depart On:</label>
                        <input type="date" asp-for="Travel.DepDate" class="form-control" id="startDateInput" name="Travel.DepDate" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="endDateInput">Return On:</label>
                        <input type="date" asp-for="Travel.DestDate" class="form-control" id="returnDateInput" name="Travel.DestDate" placeholder="Return On" disabled />
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="CurrencyCodeDropdown">Currency :</label>
                        <select id="CurrencyCodeDropdown" asp-for="CurrencyCode" class="form-control">
                            <option value="INR">INR</option>
                            <option value="USD">USD</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="MaxPriceInput">Max. Price:</label>
                        <input type="number" id="MaxPriceInput" asp-for="MaxPrice" class="form-control" min="0" value="100000" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="classDropdown">Class:</label>
                        <select id="classDropdown" asp-for="Class" class="form-control">
                            <option value="ECONOMY">ECONOMY</option>
                            <option value="PREMIUM_ECONOMY">Premium Economy</option>
                            <option value="BUSINESS">Business</option>
                            <option value="FIRST">First Class</option>
                        </select>
                    </div>
@*                     <div class="form-group col-md-3">
                        <div class="form-check mt-4">
                            <input type="checkbox" class="form-check-input" asp-for="NonStop" id="nonStopCheck" />
                            <label class="form-check-label" for="nonStopCheck">Non Stop</label>
                        </div>
                    </div> *@
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12 text-right">
                        <button type="submit" class="btn btn-primary">Search for Flights</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function toggleReturnDate(enable) {
            var returnDateInput = document.getElementById("returnDateInput");
            var startDateInput = document.getElementById("startDateInput");
            if (enable) {
                var nextDay = new Date(startDateInput.value);
                nextDay.setDate(nextDay.getDate() + 1);
                returnDateInput.value = nextDay.toISOString().split('T')[0];
                returnDateInput.disabled = false;
            } else {
                returnDateInput.value = '';
                returnDateInput.disabled = true;
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            var tripType = document.querySelector('input[name="TripType"]:checked').value;
            toggleReturnDate(tripType === "RoundTrip");

            var startDateInput = document.getElementById("startDateInput");
            var today = new Date().toISOString().split('T')[0];
            startDateInput.min = today;
            startDateInput.value = today;

            var returnDateInput = document.getElementById("returnDateInput");
            startDateInput.addEventListener("change", function () {
                returnDateInput.min = this.value;
                if (new Date(returnDateInput.value) < new Date(this.value)) {
                    returnDateInput.value = '';
                }
            });

            document.querySelector('form').addEventListener('submit', function (event) {
                var isValid = true;
                var fromInput = document.getElementById("fromInput");
                var toInput = document.getElementById("toInput");

                if (!fromInput.value.trim()) {
                    isValid = false;
                    fromInput.classList.add("is-invalid");
                } else {
                    fromInput.classList.remove("is-invalid");
                }

                if (!toInput.value.trim()) {
                    isValid = false;
                    toInput.classList.add("is-invalid");
                } else {
                    toInput.classList.remove("is-invalid");
                }

                if (!isValid) {
                    event.preventDefault();
                    $('.is-invalid').each(function () {
                        var element = $(this);
                        setTimeout(function () {
                            element.removeClass('is-invalid');
                        }, 2000);
                    });
                }
            });
        });

        async function fetchAirportDetails(type) {
            const keywordInput = type === 'from' ? document.getElementById("fromInput") : document.getElementById("toInput");
            const dropdown = type === 'from' ? document.getElementById("fromDropdown") : document.getElementById("toDropdown");

            let keyword = keywordInput.value.trim();

            if (keyword.length === 0) {
                keyword = "A";
            }

            try {
                const response = await fetch(`/Customer/Travel/GetAirportDetails?keyword=${keyword}`);
                if (response.ok) {
                    const data = await response.json();

                    const defaultOption = dropdown.querySelector('option[value=""]');
                    dropdown.innerHTML = '';
                    dropdown.appendChild(defaultOption);

                    data.forEach(airport => {
                        const option = document.createElement("option");
                        option.value = airport.code;
                        option.textContent = `${airport.name} (${airport.detailedName})`;
                        dropdown.appendChild(option);
                    });

                    dropdown.addEventListener('change', function () {
                        const selectedOption = this.options[this.selectedIndex];
                        keywordInput.value = selectedOption.value;
                    });

                    dropdown.addEventListener('click', function (event) {
                        if (event.target.tagName === 'OPTION' && event.target.value !== '') {
                            keywordInput.value = event.target.value;
                        }
                    });

                } else {
                    console.error("Failed to fetch airport details");
                }
            } catch (error) {
                console.error("Error fetching airport details:", error);
            }
        }

    </script>

    @* Loader *@
    <script>
        $(document).ready(function () {
            $("form").submit(function () {
                var showLoader = function () {
                    $("<div />").css({
                        'position': 'fixed',
                        'left': '0',
                        'right': '0',
                        'bottom': '0',
                        'top': '0',
                        'z-index': '9999',
                        'display': 'flex',
                        'justify-content': 'center',
                        'align-items': 'center'
                    }).appendTo($("body"))
                        .append(
                            $("<img />").attr({
                                "src": "https://i.gifer.com/Vp3R.gif",
                                "width": "200",
                                "height": "200" 
                            }).css({
                                'display': 'block',
                                'margin': 'auto' 
                            })
                        );
                };
                showLoader();
            });
        });
    </script>

</body>
</html>
