@* THIS IS THE ORDER FAILED PAGE FROM HOME *@

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-secondary text-center">Order Cancelled</h1>
        <br /><br />
        <img src="~/images/OrderCanncelled.jpg" style="margin-top: -50px; width: 350px; height: 350px;" />
        <br /><br />
        <div style="margin-top: -418px;margin-left:600px">
            <button class="btn btn-outline-danger btn-sm" onclick="window.location.href='/'">Back To Order</button>
        </div>
        <div style="margin-top: -418px;margin-left:600px">
            <button class="btn btn-outline-danger btn-sm" onclick="window.location.href='/'">Back To Home</button>
        </div>    
        <br /><br />
        <br /><br />
        <br /><br />
        <br /><br />
        <br /><br />
        <br /><br />
        <br /><br />
        <br /><br />
    </div>
</div>