@model AdvertisementVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Addvertisement.Id != 0 ? "Update " : "Create ") Advertisement</h2>
            </div>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data">
        <input asp-for="Addvertisement.Id" hidden />
        <div class="border p-3 mt-4">
            <div class="mb-3 row p-1">
                <label asp-for="Addvertisement.Name" class="p-0"></label>
                <input asp-for="Addvertisement.Name" class="form-control" />
                <span asp-validation-for="Addvertisement.Name" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Addvertisement.DisplayOrder"></label>
                <input asp-for="Addvertisement.DisplayOrder" class="form-control" />
                <span asp-validation-for="Addvertisement.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-floating py-1 col-12">
                <input type="file" name="files" class="form-control border-0 shadow" multiple />
                <label asp-for="Addvertisement.AddvertisementImages" class="ms-2"></label>
            </div>

            <div class="row">
                <div class="col-6 col-md-3">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary form-control">@(Model.Addvertisement.Id != 0 ? "Update " : "Create ")</button>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Addvertisement" asp-action="Index" class="btn btn-secondary form-control">Back to List</a>
                </div>
            </div>
        </div>
    </form>

    @if (Model.Addvertisement.AddvertisementImages != null && Model.Addvertisement.AddvertisementImages.Any())
    {
        <div class="row mt-4">
            <div class="col-12">
                <h4>Uploaded Images:</h4>
                <div class="row">
                    @foreach (var image in Model.Addvertisement.AddvertisementImages)
                    {
                        <div class="col-3 mb-3">
                            <img src="@Url.Content(image.ImageUrl)" class="img-fluid" alt="Uploaded Image" />
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
